.header {
  display: flex;
  justify-content: space-between;
  img {
    margin-top: -1.5rem;
    margin-bottom: -0.5rem;
  }
  &-title {
    font-size: 4rem;
    line-height: 0;
    padding: 1rem 0 0 2rem;

    text-decoration: underline;
    font-family: 'chi-townnf', sans-serif;
  }
}

@media all and (max-width:700px) {
  .header {
    justify-content: center;
    img {
      display: none;
    }
    &-title {
      padding-left: 0;
    }
  }
}